@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.header {
    display: flex;
    height: 70px;
    border-bottom: solid 0.5px black;
}

.header h1 {
    margin: 0px 30px;
    align-self: center;
    font-weight: 500;
}

.header .menu {
    display: flex;
    margin: 0 auto;
}

.header .menu ul {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    list-style-type: none;
}


.header .btn_cadastro {
    display: flex;
    align-items: center;
    margin: 0px 30px;
    text-decoration: none;
    color: black;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
