body {
    margin: 0;
    max-width: 100vw;
}

header .header-main {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #F5D639;
    justify-content: space-between;
    
}

header .vector1 {
    width: 50%;
    height: 100%;
    background: #363636;
    transform: skew(-50deg);
}

header .logo {
    display: flex;
    width: 261px;
    height: 90px;
    left: 12px;
    top: 50px;
    background-color: #AD9C5D;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

header .menu {
    display: flex;
    width: 1000px;
    height: 39px;
    left: 336px;
    top: 75px;

    background: rgba(54, 54, 54, 0.8);
    border-radius: 80px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header .container-login .login {
    position: absolute;
}